pipeline/GetTableListandTriggerCopyData.json
{
	"name": "GetTableListandTriggerCopyData",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MariaDBSource",
						"query": "SELECT TABLE_NAME FROM information_schema.TABLES where TABLE_TYPE = 'BASE TABLE'"
					},
					"dataset": {
						"referenceName": "MariaDBdataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Trigger Copy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Iterateandcopymariadbtablenames",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"tablelist": {
							"value": "@activity('LookupTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-10-15T09:28:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}